body {
  font-family: "Open Sans", sans-serif;
  background: rgb(41, 38, 38);
}

header {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

header input {
  outline: none;
  box-shadow: transparent;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  background: rgb(146, 141, 141);
  color: white;
  opacity: 80%;
  padding: 10px;
}

::placeholder {
  color: white;
}

header button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  color: white;
  opacity: 80%;
  padding: 10px;
  cursor: pointe;
}

.weather-section {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  color: white;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 300px;
  border-radius: 20px;
}

.todays-weather {
  padding: 10px;
  text-align: center;
}

.city {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
}

.city-temperture {
  margin: 0;
  font-size: 80px;
  font-weight: 600;
}

.others {
  margin-left: 30px;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 20px;
  width: 200px;
  height: 175px;
}

.others h4 {
  margin: 0;
}

.temperture-change {
  display: block;
  position: relative;
  top: 10px;
  padding: 4px;
  margin: 0 auto;
}
